<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="https://kit.fontawesome.com/7585917e18.js" crossorigin="anonymous"></script>
    <title>Header</title>
</head>

<body>
    <% if(nav===true) {%>
        <nav>
            <div class="logo">
                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png" alt="logo" height="50">
                <a href="#">Home</a>
                <a href="#">Explore</a>
                <a href="/upload">Create</a>
            </div>
            <input type="text" placeholder="Search" id="search">
            <div class="menuBtns">
                <img src="https://i.hizliresim.com/rcvolcu.png" alt="notif">
                <img src="https://i.hizliresim.com/newumah.png" alt="inbox">
                <img src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg" alt="avatar" id="pp" height="40">
                <img src="https://i.hizliresim.com/g15mqud.png" alt="more">
            </div>
        </nav>
    <% }%>
</body>

</html>