<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <title>Document</title>
</head>

<body>
    <% include ./partials/header.ejs %>
        <div class="container">
            <% posts.forEach(post=> { %>
                <div class="box">
                    <!-- <a href=""> -->
                    <img src="/images/uploads/<%= post.image %>" alt="image">
                    <div class="caption">
                        <%= post.postsText %>
                    </div>
                </div>
                <% }); %>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <!-- <script src="app.js"></script> -->
</body>

</html>