<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Pinspired - Watch & Explore</title>
</head>

<body>
    <main class="landing-page">
        <header>
            <div class="container">
                <img src="/images/logo.png" class="logo" alt="logo" height="40"/>
                <ul class="links">
                    <li>About</li>
                    <li>Business</li>
                    <li>Career</li>
                    <a href="/login"><li>Login</li></a>
                </ul>
            </div>
        </header>
        <section class="content">
            <div class="container">
                <div class="info">
                    <h1>Search for an idea</h1>
                    <p>What do you want to try next? Think of something you're into - such as 'easy chicken dinner' - and see what you find.</p>
                    <button>Explore</button>
                </div>
                <div class="image">
                    <img src="https://i.postimg.cc/65QxYYzh/001234.png">
                </div>
            </div>
        </section>
    </main>
</body>

</html>