<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <title>Document</title>
</head>

<body>
  <% include ./partials/header.ejs %>
    <div class="profile-picture">
      <img src="https://i.pinimg.com/280x280_RS/fe/7d/ee/fe7deef834e1fafe56f8023ced803ca9.jpg" alt="Profile Picture">
      <h1>
        <%= user.fullname %>
      </h1>
      <span class="username">@<%= user.username %></span>
      <div class="btn">
        <a href="/share" class="button">Share</a>
        <a href="/edit" class="button">Edit Profile</a>
      </div>
      <a href="/upload" class="upld">Create</a>
    </div>

    <main>
      <div class="posts">
        <p>Created</p>
        <p>Saved</p>
      </div>
      <div class="pins-container">
        <% user.posts.forEach(function(post) { %>
          <div class="pin">
            <img src="/images/uploads/<%= post.image %>" alt="img">
            <h5 class="card-title">
              <%= post.postsText %>
            </h5>
          </div>
          <% }) %>
      </div>
    </main>
    <% include ./partials/footer.ejs %>
</body>

</html>