<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <title>Document</title>
</head>

<body>
  <% include ./partials/header.ejs %>
  <!-- <div class="container"> -->
    <div class="card">
      <div class="profile-picture">
        <img src="https://i.pinimg.com/280x280_RS/fe/7d/ee/fe7deef834e1fafe56f8023ced803ca9.jpg" alt="Profile Picture">
      </div>
      <h2 class="name">
        <%= user.fullname %>
      </h2>
      <h3 class="username">@<%= user.username %>
      </h3>
      <p class="tagline">Keep going.</p>
      <p class="description">Masih belajar CSS dan HTML.</p>
      <a href="/share" class="button">Share</a>
      <a href="/edit" class="button">Edit Profile</a>

      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="caption">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
    </div>
  <!-- </div> -->

  <div class="container">
    <div class="cards">
      <% user.posts.forEach(function(post) { %>
        <div class="card" style="width: 18rem;">
          <img src="/images/uploads/<%= post.image %>" alt="img" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= post.postsText %></h5>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  <% include ./partials/footer.ejs %>
</body>

</html>