* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 5%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 25px;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #3c3c3c;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

#search {
  width: 68%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: rgba(180, 180, 180, 0.5);
}

.menuBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}

#pp {
  border-radius: 50%;
}